* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  padding: 25px;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid grey;
  margin-top: 0px;
}
.container {
  background-color: white;
  width: 30vw;
  height: 60vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 13px;
}
form {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
#email {
  color: green;
  font-size: 25px;
  margin-top: 18px;
}
#password {
  color: green;
  font-size: 25px;
}
.submitButton{
  width: 15vw;
  margin: auto;
}
label {
  color: grey;
  font-size: 30px;
  padding-left: 3px;
}
.dropDown {
  width: 99%;
  height: 16%;
  margin: auto;
  padding: 3px;
}
.passwordText {
  width: 30vw;
}
.ipText {
  display: flex;
  justify-content: space-between;
}
.ipclass {
  width: 30vw;
}
.spinBtn {
  display: inline;
  width: 6vw;
}
.form__buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.form__buttons--primary {
  width: 21vw;
  align-self: center;
}
.form__buttons--secondary {
  width: 8vw;
}
